{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Production date</th>
            <th scope="col">Deprecation date</th>
            <th scope="col">Is monitoring ?</th>
            <th scope="col">Is alarmed ?</th>
        </tr>
    </thead>
    <tbody>
        {% if system_list %}
        {% for system in system_list %}
            <tr>
                <td><a class="text-axpo-red" href="{% url 'system_detail' system.id %}/">{{ system.name }}</a></td>
                <td>{{ system.production_ready }}</td>
                <td>{{ system.deprecation_date }}</td>
                <td>{{ system.is_monitoring }}</td>
                <td>{{ system.is_alarmed }}</td>
            </tr>
        {% endfor %}

        {% endif %}
    </tbody>

</table>

{% endblock %}