<!doctype html>
{% load static %}
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="santiago.gonzalezcourel@axpo.com for Axpo Iberia">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/manager.css' %}" rel="stylesheet">

    <style>
        body {
            padding-top: 4.5rem;
        }
    </style>
</head>
<body>
<nav class="shadow-below navbar navbar-expand-md navbar-light fixed-top bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}"><img width="75px" src="{% static 'images/Axpo_logo.svg' %}"/> Interfaces Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link text-axpo-red" href="{% url 'system' %}">Systems</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-axpo-red" href="{% url 'interface' %}">Interfaces</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main class="container">
    {% block content %}
    {% endblock %}
</main>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</body>
</html>
